.pytest_cache/
OPENAI_API_KEY=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
NOTION_API_KEY=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
NOTION_DATABASE_ID=1e93e7b0350b80fba108d31009599ad2
OPENAI_PROJECT_ID=proj_CDWN02HrkwgltxOSdi5dhMqP
LINE_CHANNEL_ACCESS_TOKEN=QW1EqtlMsBNboGwsYhc3ge7yT8FcyuOEbYLfHavvhpnwSF1cnDNoINNgxpWw4GjCyRGam2T1pELGGB4rDfeQi+UYivFXQhW+XgYDM4MEQH5OrKmpFbJfdDk6QeiVzHJVHM//g7cSM6rktjhx0sca4QdB04t89/1O/w1cDnyilFU=
LINE_CHANNEL_SECRET=c076db44a550a518739a70363ed4a139
FIREBASE_PROJECT_ID=kasutama-f026a
GOOGLE_APPLICATION_CREDENTIALS=C:/Users/KOZUE/Downloads/a1/kasutama-f026a-firebase-adminsdk-fbsvc-58aec87c32.json
ADMIN_USER=admin
ADMIN_PASS=pass1234
__pycache__/
*.pyc
