# === Webフレームワーク関連 ===
Flask==3.1.0
Flask-Login==0.6.3
Flask-WTF==1.2.1
gunicorn==23.0.0

# === LINE Bot SDK ===
line-bot-sdk==3.17.1

# === OpenAI API ===
openai==1.77.0

# === Google Cloud & Firebase ===
firebase-admin==6.8.0
google-cloud-firestore==2.20.2

# === データ処理・計算 ===
numpy==2.2.5

# === テキスト処理・言語判定 ===
jaconv==0.4.0
langdetect==1.0.9

# === 設定ファイルの読み込み ===
python-dotenv==1.1.0